<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>

    <section class="hero">
        <img src="../../images/ahmed-almakhzanji-kshkB1i5_5o-unsplash.jpg" alt="stack of books">
        <div class="msg">
            <h2>Welcome To Best Books, <span>The Getway To</span><span class="extend">Broaden Your Horizon</span></h2>
            <a href="/api/users/signup">Signup</a>
        </div>
    </section>
    <section class="features">
        <div class="update">
            <h3>Newest Updates</h3>
        </div>
        <div class="category">
            <ul>
                <li><a href="#">All</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Sciences</a></li>
                <li><a href="#">Arts</a></li>
            </ul>
        </div>
        <div class="feat-pics">
            <div class="pics-1">
                <img src="/images/immersive.jpg" alt="immersive">
                <h5>Emily Lloyd-Jones</h5>
                <a href="#"><h3>Stand Alone</h3></a>
            </div>
            <div>
                <img src="/images/midnight_bargain.jpg" alt="Midnight Bargain">
                <h5>C.L Polk</h5>
                <a href="#"><h3>Midnight Bargain</h3></a>
            </div>
            <div>
                <img src="/images/tim-alex-1i-P178kxHQ-unsplash.jpg" alt="Grey Picture">
                <h5>Oscar Wilde</h5>
                <a href="#"><h3>The Picture Of Dorian Grey</h3></a>
            </div>
            <div>
                <img src="/images/tim-alex-xG5VJW-7Bio-unsplash.jpg" alt="Narnia">
                <h5>C.S Lewis</h5>
                <a href="#"><h3>The Chronicles Of Narnia</h3></a>
            </div>
            <div>
                <img src="/images/immersive.jpg" alt="immersive">
                <h5>Emily Lloyd-Jones</h5>
                <a href="#"><h3>Stand Alone</h3></a>
            </div>
            <div>
                <img src="/images/midnight_bargain.jpg" alt="Midnight Bargain">
                <h5>C.L Polk</h5>
                <a href="#"><h3>Midnight Bargain</h3></a>
            </div>
            <div>
                <img src="/images/tim-alex-1i-P178kxHQ-unsplash.jpg" alt="Grey Picture">
                <h5>Oscar Wilde</h5>
                <a href="#"><h3>The Picture Of Dorian Grey</h3></a>
            </div>
            <div>
                <img src="/images/tim-alex-xG5VJW-7Bio-unsplash.jpg" alt="Narnia">
                <h5>C.S Lewis</h5>
                <a href="#"><h3>The Chronicles Of Narnia</h3></a>
            </div>
        </div>
        
    </section>

    <div style="margin-top: 400px;"></div>
    <!-- <script src="/index.js"></script> -->
</body>
</html>