<header id="header">
    <h1>Best <span>Books</span></h1>
    <div class="search-bar">
        <input type="search" name="search" id="search" placeholder="Search...">
    </div>
</header>
<nav class="nav-bar">
    <ul>
        <li><a href="/api/books">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="/api/users/login">Login</a><span> / </span><a href="/api/users/signup">Signup</a></li>
    </ul>
</nav>